.navbar {
    color: black;
    font-weight: bolder;
    background-color: white;
    border-bottom: 6px solid darkgray;
}
.nav-item:hover {
    /* color: red !important; */
    border-bottom: 3px solid #b28446;
}

.logo {
    width: 130px;
    border-radius: 10%;
   }
   .main {
    background-color: #ccc;
    
}

/* //NavBAR css */

.service {
    text-align: center;
    text-decoration: underline;
    padding-top: 20px;
    font-family: cursive;
    padding-bottom: 30px;
}

img {
    border-radius: 20%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .row {
    display: flex;
  }
  
  .column {
    flex: 10%;
    padding: 5px;
  }

/* FOOTER */
.foot {
    color: black;
    font-weight: bold;
    height: 125px;
    text-align: center;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRje38s5lB9Dew9JLef1YJBimpHnzjtCNCUJCEIXHs-V_g6Ha0OiA);
}

.order {
    list-style-type: none;
}
ul li{
    display: inline;
    padding: 20px;
  
  }
  .order {
      padding-top: 20px;
  }

/* //footer */






/* MEDIA QUERIES */

@media (max-width: 770px) {
    .service {
        font-size: 25px;
    }
}




/* UNUSED CODE */

/* Three image containers (use 25% for four, and 50% for two, etc) */
/* .column {
    float: left;
    width: 10%;
    padding: 5px;
  } */